.card {
  height: 150px;
  position: relative;
  width: 150px;
  margin:1rem;
  text-align:left;
  overflow: hidden;
}

.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
}

.card > .img-container > img {
  width: 100%;
  height:auto;
  overflow:hidden;
}


.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card:hover {
  color: #d50000;
}
