.card {
  background-size: cover;
  background-position: 50%;
  height: 130px;
  width: 175px;
  margin: 8px 25px;
  border: 5px solid aquamarine;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.card > .img-container > img {
  width: 175px;
  overflow: hidden;
  height:130px;
}
